# Configuration Strapi
HOST=0.0.0.0
PORT=1337

# Netlify Configuration - REQUIS POUR LE DÉPLOIEMENT
NETLIFY_ACCESS_TOKEN=your-netlify-token-here

# Strapi API pour les builds  
STRAPI_PUBLIC_URL=http://localhost:1337
STRAPI_API_TOKEN=your-strapi-api-token-here
